# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.PuzzleSolver.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UNO\PuzzleSolver\PuzzleSolver\.idea\.idea.PuzzleSolver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
